@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 56% 54%;
    --foreground: 0 0% 100%;
    --card: 120 38% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 231 68% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 232 50% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 51% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 231 51% 35%;
    --muted-foreground: 0 0% 80%;
    --accent: 47 98% 49%;
    --accent-foreground: 231 68% 10%;
    --destructive: 5 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 231 51% 40%;
    --input: 231 51% 40%;
    --ring: 47 98% 49%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 68% 15%;
    --foreground: 0 0% 95%;
    --card: 231 50% 25%;
    --card-foreground: 0 0% 95%;
    --popover: 231โซ 68% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 231 56% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 51% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 231 51% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 47 98% 55%;
    --accent-foreground: 231 68% 10%;
    --destructive: 5 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 231 51% 30%;
    --input: 231 51% 30%;
    --ring: 47 98% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    overflow: hidden;
    background-color: #000;
  }
  body {
    @apply bg-background text-foreground;
  }
}
